@import 'utils/variables';
@import 'base/reset';
@import 'components/toast';
@import 'components/tabs';

body {
    background-color: $color-background-primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: $font-primary;
    
    main {
        width: 85%;
        border-radius: 12px;
        padding: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }

    button {
        border: none;
    }

    h1 {
        font-size: 28px;
        margin: 10px 0 40px;
        font-weight: $font-weight-normal;
        color: $color-text-white;
        align-self: flex-start;

        &::after {
            content: '_';
            color: $color-text-primary;
        }
    }

    h2 {
        font-size: 32px;
        font-weight: $font-weight-normal;
        color: $color-text-white;
        margin-bottom: 4rem;
    }

    .object-time {
        font-size: 20px;
        font-weight: 700;
        color: $color-text-primary;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }

    .timer {
        font-size: 36px;
        color: $color-text-primary;
        margin-top: 10px;
        gap: 14px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .time-unit {
            display: flex;
            flex-direction: column;
            color: $color-text-white;

            .value {
                font-size: 128px;
            }

            .label {
                font-size: 32px;
                font-weight: $font-weight-normal;
                color: $color-text-primary;
            }

            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
                .value::after {
                    content: ':';
                    margin-left: 8px;
                }
            }
        }
    }
}
