@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;700&display=swap');

$color-background-primary: #02010E;
$color-background-secondary: #3A375E4D;
$color-text-primary: #6FFF57;
$color-text-toast: #56c542;
$color-text-white: #FFFFFF;
$color-input-background: #3A375E;

$font-primary: 'Chakra Petch', sans-serif;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-normal-medium: 500;

$line-height-h1: 42.2px;
$line-height-h2: 28.13px;
